[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awscli = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2 = "*"
sqlalchemy-utils = "*"
zappa = "*"
python-dotenv = "*"
passlib = "*"

[requires]
python_version = "3.6"
