.menu {
    background-color: lightsteelblue;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
}

.menu__right {
    display: flex;
    align-items: center;
    height: 100%;
}

.menu__list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    margin-right: 40px;
}

.menu__list-item {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
}

.menu__list-item:last-child {
    margin-right: 0;
}

.menu__link {
    color:white;
    display: inline-block;
    height: 100%;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 5 5px;
}

.menu__link:hover {
    color: #ffaa3b;
    cursor: pointer;
}

.menu__link--active {
    color: #ffaa3b;
    border-top: 4px solid #ffaa3b;
    font-weight: 800;
}

.menu__logo {
    text-indent: -9999999px;
    display: inline-block;
    height:100%;
    width: 120px;
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.menu__search-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__search-form {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    background-color: transparent;
    border-radius: 2%;
}

.menu__search-input {
    border-radius: 8px;
    outline: none;
    border: 1px solid lightsteelblue;
    font-size: 18px;
    padding: 5px;
    font-weight: 300;
}
